.App{
  height: 100vh;
  /* display: flex;
  align-content: center;
  justify-content: center; */
}

.App h1{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  text-align: center;
}